<%- include('../partials/header.ejs') %> <%-
include('../partials/admin_navbar.ejs') %>
<div class="container-fluid">
  <div class="row">
    <nav
      id="sidebarMenu"
      class="col-md-3 col-lg-2 d-md-block myColor sidebar sidenav collapse"
    >
      <div class="position-sticky pt-3 sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a
              class="nav-link active text-light"
              aria-current="page"
              href="/admin/dashboard"
            >
              <span data-feather="home" class="align-text-bottom"></span>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/admin/orders">
              <span data-feather="file" class="align-text-bottom"></span>
              Orders
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/admin/products">
              <span
                data-feather="shopping-cart"
                class="align-text-bottom"
              ></span>
              Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/admin/main_categories">
              <span data-feather="file" class="align-text-bottom"></span>
              Main Categories
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/admin/sub_categories">
              <span data-feather="file" class="align-text-bottom"></span>
              Sub Categories
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/admin/users">
              <span data-feather="users" class="align-text-bottom"></span>
              Users
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/admin/banner">
              <span data-feather="users" class="align-text-bottom"></span>
              Banners
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark admin_rectangle" href="/admin/coupons">
              <span data-feather="users" class="align-text-bottom"></span>
              Coupons
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between border-bottom mb-4">
        <h1 class="h2 pt-3 pb-2 mb-3">Coupons</h1>
        <a
          class="btn btn-sm btn-outline-success mt-4 mb-4"
          href="/admin/coupons/add"
          >Add New Coupon</a
        >
      </div>
      <div class="container">
        <table class="table" id="productsTable">
          <thead>
            <tr class="text-dark bg-light shadow sorter-header">
              <th scope="col"></th>
              <th scope="col">Name</th>
              <th scope="col">Discount</th>
              <th scope="col">Created Date</th>
              <th scope="col">Last Modified Date</th>
              <th scope="col">Options</th>
              <th scope="col" class="text-center">More Info</th>
            </tr>
          </thead>
          <tbody id="adminCoupon">
            <% coupons.forEach(function(coupon){ %>
            <tr>
              <th scope="row"></th>
              <td class="fw-bold"><%= coupon.name %></td>
              <td><%= coupon.discount %>%</td>
              <td style="font-size: 13px">
                <%= moment(coupon.created_date).format('llll') %>
              </td>
              <% if(coupon.modified_date != null){ %>
              <td style="font-size: 13px">
                <%= moment(coupon.modified_date).format('llll') %>
              </td>
              <% } else { %>
              <td style="font-size: 13px">No modifications made</td>
              <% } %>
              <td>
                <a
                  class="btn btn-sm btn-outline-primary"
                  href="/admin/coupons/edit/<%= coupon._id %>"
                  >Edit</a
                >
                <% if(coupon.disable === false){ %>
                <button
                  class="btn btn-sm btn-outline-danger"
                  onclick="disable_coupon('<%= coupon._id %>')"
                >
                  Disable
                </button>
                <% } else { %>
                <button
                  class="btn btn-sm btn-outline-danger"
                  onclick="enable_coupon('<%= coupon._id %>')"
                >
                  Enable
                </button>
                <% } %>
              </td>
              <td>
                <a
                  class="btn btn-sm btn-light w-100 shadow"
                  href="/admin/coupons/<%= coupon._id %> "
                  >More Info</a
                >
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>

<%- include('../partials/footer.ejs') %>
