<%- include('../partials/header.ejs') %> <%-
include('../partials/admin_navbar.ejs') %>
<div class="container-fluid">
  <div class="row">
    <nav
      id="sidebarMenu"
      class="col-md-3 col-lg-2 d-md-block myColor sidebar sidenav collapse"
    >
      <div class="position-sticky pt-3 sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a
              class="nav-link active text-dark admin_rectangle"
              aria-current="page"
              href="/admin/dashboard"
            >
              <span data-feather="home" class="align-text-bottom"></span>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/admin/orders">
              <span data-feather="file" class="align-text-bottom"></span>
              Orders
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/admin/products">
              <span
                data-feather="shopping-cart"
                class="align-text-bottom"
              ></span>
              Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/admin/main_categories">
              <span data-feather="file" class="align-text-bottom"></span>
              Main Categories
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/admin/sub_categories">
              <span data-feather="file" class="align-text-bottom"></span>
              Sub Categories
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/admin/users">
              <span data-feather="users" class="align-text-bottom"></span>
              Users
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/admin/banner">
              <span data-feather="users" class="align-text-bottom"></span>
              Banners
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/admin/coupons">
              <span data-feather="users" class="align-text-bottom"></span>
              Coupons
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
      >
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">
              Share
            </button>
            <button type="button" class="btn btn-sm btn-outline-secondary">
              Export
            </button>
          </div>
        </div>
      </div>
      <div id="dashboard">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card shadow">
                <div class="card-body">
                  <div class="row">
                    <div class="col-3 text-center">
                      <h6 class="fw-bold"><i class="bi bi-stack text-success"></i> Total Orders</h6>
                      <h1><%= total_orders %></h1>
                    </div>
                    <div class="col-3 text-center">
                      <h6 class="fw-bold"><i class="bi bi-house-fill text-success"></i> Delivered</h6>
                      <h1><%= delivered.length %></h1>
                    </div>
                    <div class="col-3 text-center">
                      <h6 class="fw-bold"><i class="bi bi-truck-flatbed text-success"></i> On delivery</h6>
                      <h1><%= on_delivery.length %></h1>
                    </div>
                    <div class="col-3 text-center">
                      <h6 class="fw-bold"><i class="bi bi-exclamation-square-fill text-danger"></i> Canceled</h6>
                      <h1><%= canceled.length %></h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4 pt-5">
              <div class="card shadow">
                <div class="card-body text-center">
                  <h4>Users</h4>
                  <h1><%= users.length %></h1>
                </div>
              </div>
            </div>
            <div class="col-4 pt-5">
              <div class="card shadow">
                <div class="card-body text-center">
                  <h4>Products</h4>
                  <h1><%= products.length %></h1>
                </div>
              </div>
            </div>
            <div class="col-4 pt-5">
              <div class="card shadow">
                <div class="card-body text-center">
                  <h4>Out of stock</h4>
                  <h1><%= out_of_products.length %></h1>
                </div>
              </div>
            </div>
            <div class="col-12 pt-5">
              <div class="card shadow">
                <div class="card-body">
                  <div class="row">
                    <div class="col-12 text-center">
                      <h4 class="fw-bold">
                        <i class="bi bi-exclamation-square text-danger"></i> Out
                        Of Stock Products
                      </h4>
                    </div>
                    <% if(out_of_products.length != 0){ %> <%
                    out_of_products.forEach(function(product, index){ %>
                    <div class="col-12 text-center">
                      <h5><%= index+1 %>- <%= product.name %></h5>
                    </div>
                    <% })}else{ %>
                    <div class="col-12 text-center">
                      <h5>All Products are in Stock</h5>
                    </div>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

<%- include('../partials/footer.ejs') %>
