<%- include('../partials/header.ejs') %>
<div
  class="container-fluid"
  style="
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3)),
      url(/public/images/order-more-info-bg.png);
  "
>
  <div class="row">
    <nav class="col-2"></nav>
    <main class="col-10 ps-4 pt-5 mt-3">
      <div class="card shadow" style="height: 35rem">
        <div class="card-body mx-5">
          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
          >
            <h1 class="h2">Edit Banner</h1>
            <a href="/admin/banner"
              ><button type="button" class="btn btn-sm btn-outline-danger">
                Cancel
              </button></a
            >
          </div>
          <div class="">
            <form
              action="/admin/banner/edit/<%= banner._id %>"
              method="post"
              enctype="multipart/form-data"
            >
              <label for="">Heading</label>
              <input
                type="text"
                name="heading"
                class="form-control mb-4"
                value="<%= banner?.heading %>"
                required
              />

              <label for="">Description</label>
              <input
                type="text"
                name="description"
                class="form-control mb-4"
                value="<%= banner?.description %>"
              />

              <label for="">Extra Details</label>
              <input
                type="text"
                name="extra_details"
                class="form-control mb-4"
                value="<%= banner?.extra_details %>"
              />

              <div class="row">
                <div class="col-md-10 col">
                  <label for="">Image</label>
                  <input
                    accept="image/png, image/jpeg image/avif"
                    type="file"
                    name="imgUrl"
                    class="form-control mb-4"
                    onchange="viewImage(event)"
                    multiple
                  />
                </div>
                <div class="col-md-2 col">
                  <img
                    src="/<%= banner.imgUrl[0] %>"
                    alt="image"
                    style="width: 100%; height: auto"
                    class="m-3"
                    id="imgView"
                  />
                </div>
              </div>

              <!-- Button trigger modal -->
              <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
                Submit
              </button>

              <!-- Modal -->
              <div
                class="modal fade"
                id="exampleModal"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-body">Save the changes?</div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                      >
                        Close
                      </button>
                      <button type="submit" class="btn btn-success">
                        Save changes
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
<script>
  function viewImage(event) {
    document.getElementById("imgView").src = URL.createObjectURL(
      event.target.files[0]
    );
  }
</script>

<%- include('../partials/footer.ejs') %>
