<%- include('../partials/header.ejs') %>
<section style="background-color: #f7f8f9">
  <%- include('../partials/navbar.ejs') %>
  <div class="container-fluid mt-4">
    <div class="row">
      <div class="col-3 d-none d-md-block">
        <div class="rectangle ps-4 pt-2 text-dark">
          <h5><b><%= full_name %></b></h5>
          <p><%= phone_no %></p>
        </div>

        <a href="/my_orders" class="text-decoration-none"
          ><div class="rectangle d-flex ps-4 align-items-center text-dark">
            <i class="bi bi-cart2"></i>
            <big> &ensp; My Orders</big>
          </div></a
        >
        <a href="/user/account" class="text-decoration-none"
          ><div class="rectangle d-flex ps-4 align-items-center text-dark">
            <i class="bi bi-person"></i>
            <big> &ensp; My Profile</big>
          </div></a
        >

        <a href="/user/address" class="text-decoration-none"
          ><div
            class="selected_rectangle d-flex ps-4 align-items-center text-dark"
          >
            <i class="bi bi-envelope"></i>
            <big> &ensp; Address</big>
          </div></a
        >

        <form
          method="post"
          action="/user/logout"
          class="rectangle ps-2 d-flex align-items-center"
        >
          <button class="btn-lg text-decoration-none btn text-danger">
            <i class="bi bi-box-arrow-right"></i> &ensp; Logout
          </button>
        </form>
      </div>
      <div class="col-12 col-md-9">
        <div class="container-fluid mt-3">
          <div class="row">
            <a href="/user/add/address" class="btn btn-sm btn-outline-success w-100 mb-5">Add New Address</a>
            <% if( userAddresses.length === 0 ) { %>
            <div class="col-12 text-center">
              <img
                src="/public/images/icons/search-not-found.webp"
                alt="No address found"
              />
              <h4>No Address Added</h4>
            </div>
            <% } else { %> <% userAddresses.forEach(function(userAddress,
            index){ %>
            <div class="col-md-6 col-12">
              <h6><%= userAddress.type %> address</h6>
              <ul class="list-group">
                <li
                  class="list-group-item d-flex justify-content-between align-items-center"
                >
                  <div>Name:</div>
                  <div class="fw-bold"><%= userAddress.name %></div>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center"
                >
                  <div>Phone No:</div>
                  <div class="fw-bold"><%= userAddress.phone_no %></div>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center"
                >
                  <div>Country:</div>
                  <div class="fw-bold"><%= userAddress.country %></div>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center"
                >
                  <div>Pincode:</div>
                  <div class="fw-bold"><%= userAddress.pincode %></div>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center"
                >
                  <div>City:</div>
                  <div class="fw-bold"><%= userAddress.city %></div>
                </li>
              </ul>

              <a
                href="/user/edit/address/<%= index %>"
                class="btn btn-sm btn-outline-danger form-control mb-4"
                >Edit</a
              >
            </div>
            <% })}%>
          </div>
        </div>
        <!-- end of add new address dropdown -->
      </div>
    </div>
  </div>
</section>

<%- include('../partials/footer_infos.ejs') %> <%-
include('../partials/footer.ejs') %>
