<%- include('../partials/header.ejs') %> <%- include('../partials/navbar.ejs')
%>
<div class="container-fluid">
  <div class="row" id="productCard">
    <div class="col-8 pt-2">
      <% if( login ) { %> <% itemsInCart.forEach(function(item){ %>
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-2">
            <img
              src="<%= item?.productId.imgUrl %>"
              class="img-fluid rounded-start img-thumbnail"
              alt="product_img"
              style="width: 12rem; height: 9rem"
            />
          </div>
          <div class="col-5">
            <div class="card-body">
              <h5 class="card-title"><%= item?.productId.name %></h5>
              <p class="card-text text-truncate">
                <%= item.productId.description %>
              </p>
              <p class="card-text">
                <big class="text-muted"><%= item?.productId.price %></big>
              </p>
            </div>
          </div>
          <div class="col-2 pt-5">
            Qty <% if( item?.quantity === 1 ){ %>
            <button
              disabled
              class="btn btn-sm btn-danger"
              type="button"
              id="decrement_button"
              onclick="decreasePriceByQty('<%= item?.productId._id %>', '<%= item?.productId.price %>');"
            >
              -
            </button>
            <% }else{ %>
            <button
              class="btn btn-sm btn-danger"
              type="button"
              id="decrement_button"
              onclick="decreasePriceByQty('<%= item?.productId._id %>', '<%= item?.productId.price %>');"
            >
              -
            </button>
            <% } %>

            <span
              class="btn btn-sm mt-2 btn-secondary h1"
              style="width: 3rem"
              id="proQty"
              ><%= item?.quantity %></span
            >
            <% if(item?.quantity === item?.productId.stock){ %>
            <button
              disabled
              class="btn btn-sm btn-danger"
              type="button"
              id="increment_button"
              onclick="increasePriceByQty('<%= item?.productId._id %>', '<%= item?.productId.price %>');"
            >
              +
            </button>
            <% }else{ %>
            <button
              class="btn btn-sm btn-danger"
              type="button"
              id="increment_button"
              onclick="increasePriceByQty('<%= item?.productId._id %>', '<%= item?.productId.price %>');"
            >
              +
            </button>
            <% } %>
          </div>
          <div class="col-3">
            <div class="card-body pt-5 mt-1">
              <button
                class="w-100 btn btn-danger"
                id="removeItem"
                onclick="removeFromCart('<%= item.productId._id %>','<%= item?.quantity %>')"
              >
                Remove item
              </button>
            </div>
          </div>
        </div>
      </div>
      <% })} %>
    </div>
    <div class="col-4 pt-2">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title fw-bold">Order Summery</h4>
          <div class="mb-3 d-flex justify-content-between">
            <h5>Price:</h5>
            <h5><%= cart_total %></h5>
          </div>
          <div class="mb-3 d-flex justify-content-between">
            <h5>Discount:</h5>
            <h5>0</h5>
          </div>
          <div>
            <h5>
              Free Delivery
              <i
                class="bi bi-check2-circle text-success"
                style="font-size: 30px"
              ></i>
            </h5>
          </div>
          <hr />
          <div
            class="p-3 mb-2 bg-primary text-white d-flex justify-content-between"
          >
            <h5>Total Amount</h5>
            <h5><%= cart_total %></h5>
          </div>
          <div>
            <a href="/checkout">
              <button class="btn w-100 btn-warning" type="button">
                Proceed to checkout
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/footer_infos.ejs') %> <%-
include('../partials/footer.ejs') %>
