<%- include('../partials/header.ejs') %> <%-
include('../partials/order_navbar.ejs') %>
<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-8" id="addressCard">
        <select
          id="address"
          name="addressId"
          class="form-select"
          aria-label="Default select example"
          required
        >
          <% addresses.forEach(function(address){ %>
          <option value="<%= address._id %>">
            <%= address.type %> - <%= address.name %>,<%= address.city %>, <%=
            address.pincode %>, <%= address.country %> , Phone: <%=
            address.phone_no %>
          </option>
          <% }) %>
        </select>
        <div class="d-flex justify-content-start">
          <div class="form-check pe-5">
            <input
              class="form-check-input"
              type="radio"
              name="payment_method"
              id="cod"
              value="cash_on_delivery"
            />
            <label class="form-check-label" for="method1">
              cash on delivery
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="payment_method"
              id="method1"
              value="razerpay"
              checked
            />
            <label class="form-check-label" for="method2"> razerpay </label>
          </div>
        </div>
        <button onclick="placeOrder()">Confirm Order</button>
    </div>
    <div class="col-4"></div>
  </div>
</div>

<%- include('../partials/footer.ejs') %>
