<%- include('../partials/header.ejs') %> <%- include('../partials/navbar.ejs')
%>
<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-md-8" id="addressCard">
      <h5 class="mx-3">Please Select An Address:</h5>
      <div class="d-flex justify-content-between">
        <select
          id="address"
          name="addressId"
          class="btn btn-outline-success m-3 w-75"
          aria-label="Default select example"
          required
        >
          <% addresses.forEach(function(address){ %>
          <option value="<%= address._id %>">
            <%= address.type %> - <%= address.name %>,<%= address.city %>, <%=
            address.pincode %>, <%= address.country %> , Phone: <%=
            address.phone_no %>
          </option>
          <% }) %>
        </select>
        <a href="/user/add/address" class="ms-3 btn btn-success w-25 m-3 h-25"
          >+ Add New Address</a
        >
      </div>
      <hr />
      <div class=" m-3">
        <h5>Select A Payment Method:</h5>
        <div class="form-check pe-5 mt-3">
          <input
            class="form-check-input"
            type="radio"
            name="payment_method"
            id="cod"
            value="cash_on_delivery"
            checked
          />
          <label class="form-check-label h5" for="method1">
            cash on delivery
          </label>
        </div>
        <div class="form-check me-5 mt-3">
          <input
            class="form-check-input"
            type="radio"
            name="payment_method"
            id="method1"
            value="razerpay"
          />
          <label class="form-check-label h5" for="method2"> razerpay </label>
        </div>
      </div>
      <hr />
      <div class="my-4 ms-3">
        <h5 class="me-5 mb-3">Select coupon:</h5>
        <select
          class="btn btn-outline-secondary"
          name="discount"
          id="coupon"
          required
          aria-label="Default select example"
        >
          <option selected>Check coupons</option>
          <% coupons.forEach(function(coupon){ %> <% let used_users =
          coupon.users; %> <% let coupon_avail_for_user =
          used_users.some(this_user => this_user.toString() ===
          userId.toString() ) %> <% if(!coupon_avail_for_user){ %>
          <option value="<%= coupon._id %>">
            <%= coupon.name %> <%= coupon.discount %>% OFF
          </option>
          <% }}) %>
        </select>
        <% if (addresses.length == 0) { %>
        <button class="btn btn-outline-success btn-sm ms-5 disabled">
          Apply Coupon</button
        ><small class="ms-4 text-danger">Please create an address first</small>
        <% } else if(total_amount > 10000 || total_amount < 500) { %>
        <button class="btn btn-outline-success btn-sm ms-5 disabled">
          Apply Coupon</button
        ><small class="ms-4 text-danger"
          >Coupons not available for this order</small
        >
        <% } else { %>
        <button
          class="btn btn-outline-success btn-sm ms-5"
          onclick="apply_coupon()"
        >
          Apply Coupon
        </button>
        <% } %>
      </div>
      <div class="card border-success mb-3" id="checkoutCouponApplied">
        <div class="card-header fw-bold">Order Summary</div>
        <div class="card-body text-success">
          <% if(products.length != 0){ %> <% products.forEach(function(product,
          no){ %>
          <div class="d-flex justify-content-between">
            <span class="pe-3"><%= no+1 %>. </span>
            <span class="w-50 text-truncate"
              ><%= product.productId.name %></span
            >
            <span class="w-25 text-center">Qty.<%= product.quantity %></span>
            <span class="w-25 text-center">Rs.<%= product.subTotal %></span>
          </div>
          <% })} %>
        </div>
        <p class="text-end pe-5 fw-bold">Total: Rs. <%= total_amount %></p>
      </div>
      <% if (addresses.length == 0) { %>
      <button class="btn btn-warning disabled d-none d-md-block">Confirm Order</button
      ><small class="ms-4 text-danger">Please create an address first</small>
      <% } else { %>
      <button class="w-50 btn btn-warning d-none d-md-block" onclick="placeOrder()">
        Confirm Order
      </button>
      <% } %>
    </div>
    <div class="col-md-4">
      <span class="me-md-5 pe-md-5">Products</span>
      <% if (addresses.length == 0) { %>
      <button class="ms-md-5 ps-md-5 btn btn-warning disabled">Confirm Order</button
      ><small class="ms-4 text-danger">Please create an address first</small>
      <% } else { %>
      <button class="ms-md-5 w-50 btn btn-warning" onclick="placeOrder()">
        Confirm Order
      </button>
      <% } %>
      <hr />
      <% if(products.length != 0){ %> <% products.forEach(function(product){ %>
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="<%= product.productId.imgUrl[1] %>"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%= product.productId.name %></h5>
              <div class="d-flex justify-content-between">
                <span class="card-text">Quantity: <%= product.quantity %></span>
                <small class="text-muted">Rs. <%= product.subTotal %></small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% })} %>
    </div>
  </div>
</div>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<%- include('../partials/footer.ejs') %>
