<%- include('../partials/header.ejs') %> <%- include('../partials/navbar.ejs')
%>
<div class="card text-bg-dark m-2">
  <img
    src="/public/images/banners/New_user_offer_banner.jpg"
    class="card-img"
    alt="..."
  />
  <div class="card-img-overlay">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      This is a wider card with supporting text below as a natural lead-in to
      additional content. This content is a little bit longer.
    </p>
    <p class="card-text"><small>Last updated 3 mins ago</small></p>
  </div>
</div>
<section class="container-fluid">
  <div class="row row-cols-2 row-cols-md-5 g-4 pt-3" id="productCard">
    <% products.forEach(function(product){ %>
    <div class="col">
      <div class="card h-100 myCard">
        <img
          src="<%= product.imgUrl[1] %>"
          class="card-img-top"
          alt="product image"
          style="width: 15rem; height: 15rem"
        />
        <div class="card-img-overlay">
          <h5 class="card-title">
            <% if ( login ) { %> <% let inWishlist = wishlistItems.some(item =>
            item._id.toString() === product._id.toString() ) %> <%
            if(inWishlist) { %>
            <button
              class="btn-lg btn"
              id="removeItem"
              onclick="removeFromWishlist('<%= product._id %>')"
            >
              <i class="bi bi-heart-fill text-danger"></i>
            </button>
            <% } else { %>
            <button
              id="addItem"
              class="btn-lg btn"
              onclick="addToWishlist('<%= product._id %>')"
            >
              <i class="bi bi-heart text-danger"></i>
            </button>
            <% }} %>
          </h5>
        </div>
        <div class="card-body" style="transform: rotate(0)">
          <a
            href="/p/<%= product._id %>/<%= product.name %>"
            class="text-decoration-none stretched-link text-dark"
            ><h5 class="card-title fw-bold text-truncate">
              <%= product.name %>
            </h5></a
          >
          <p class="card-text text-truncate"><%= product.description %></p>
          <p class="card-text text-dark fw-bold ps-2 half_trapezoid">
           Rs. <%= product.price %>
          </p>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</section>

<%- include('../partials/footer_infos.ejs') %> <%-
include('../partials/footer.ejs') %>
