<%- include('../partials/header.ejs') %>
<section style="background-color: #f7f8f9">
  <%- include('../partials/navbar.ejs') %>
  <div class="container-fluid mt-4">
    <div class="row">
      <div class="col-3">
        <div class="rectangle ps-4 pt-2 text-dark">
          <h5><b><%= full_name %></b></h5>
          <p><%= phone_no %></p>
        </div>

        <a href="" class="text-decoration-none"
          ><div
            class="selected_rectangle d-flex ps-4 align-items-center text-dark"
          >
            <i class="bi bi-cart2"></i>
            <big> &ensp; Orders & Returns</big>
          </div></a
        >
        <a href="/user/account" class="text-decoration-none"
          ><div class="rectangle d-flex ps-4 align-items-center text-dark">
            <i class="bi bi-person"></i>
            <big> &ensp; My Profile</big>
          </div></a
        >

        <a href="/user/address" class="text-decoration-none"
          ><div class="rectangle d-flex ps-4 align-items-center text-dark">
            <i class="bi bi-envelope"></i>
            <big> &ensp; Address</big>
          </div></a
        >

        <form
          method="post"
          action="/user/logout"
          class="rectangle ps-2 d-flex align-items-center"
        >
          <button class="btn-lg text-decoration-none btn text-danger">
            <i class="bi bi-box-arrow-right"></i> &ensp; Logout
          </button>
        </form>
      </div>
      <div class="col-9">
        <div class="container-fluid mt-3">
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              aria-label="Basic example"
              style="width: 16%"
              aria-valuenow="50"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
        <!-- end of add new address dropdown -->
      </div>
    </div>
  </div>
</section>

<%- include('../partials/footer_infos.ejs') %> <%-
include('../partials/footer.ejs') %>
