<%- include('../partials/header.ejs') %>
<section style="background-color: #f7f8f9">
  <%- include('../partials/navbar.ejs') %>
  <div class="container-fluid mt-4">
    <div class="row">
      <div class="col-md-3 d-none d-md-block">
        <div class="rectangle ps-4 pt-2 text-dark">
          <h5><b><%= full_name %></b></h5>
          <p><%= phone_no %></p>
        </div>

        <a href="" class="text-decoration-none"
          ><div
            class="selected_rectangle d-flex ps-4 align-items-center text-dark"
          >
            <i class="bi bi-cart2"></i>
            <big> &ensp; My Orders</big>
          </div></a
        >
        <a href="/user/account" class="text-decoration-none"
          ><div class="rectangle d-flex ps-4 align-items-center text-dark">
            <i class="bi bi-person"></i>
            <big> &ensp; My Profile</big>
          </div></a
        >

        <a href="/user/address" class="text-decoration-none"
          ><div class="rectangle d-flex ps-4 align-items-center text-dark">
            <i class="bi bi-envelope"></i>
            <big> &ensp; Address</big>
          </div></a
        >

        <form
          method="post"
          action="/user/logout"
          class="rectangle ps-2 d-flex align-items-center"
        >
          <button class="btn-lg text-decoration-none btn text-danger">
            <i class="bi bi-box-arrow-right"></i> &ensp; Logout
          </button>
        </form>
      </div>
      <div class="col-md-9">
        <div class="container-fluid mt-3" id="myOrders">
          <% if(orders.length === 0){ %>
          <div class="text-center">
            <img src="/public/images/icons/empty-cart.webp" alt="webp" />
            <h4>No orders yet</h4>
          </div>
          <% } else { orders.forEach(function(order, index){ %> <% for(product
          of order.products ) { %>
          <div class="card mb-3">
            <div class="row">
              <div class="col-md-4 d-md-block d-none">
                <img
                  src="<%= product.productId.imgUrl[1] %> "
                  class="img-fluid rounded-start"
                  alt="product_img"
                  style="width: 13rem"
                />
              </div>
              <div class="col-md-4 d-md-none d-block">
                <img
                  src="<%= product.productId.imgUrl[1] %> "
                  class="img-fluid rounded-start"
                  alt="product_img"
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><%= product.productId.name %></h5>
                  <p class="card-text">
                    <%= product.productId.category.name %>
                    <small>Qty: <%= product.quantity %></small>
                  </p>
                  <div class="d-flex justify-content-between">
                    <p class="card-text pb-3">
                      <small class="text-muted"
                        ><span class="fw-bold">Order placed on: </span> <%=
                        moment(order.created_date).format('llll') %> </small
                      ><br />
                      <small>
                        <span class="fw-bold">Expected Delivery Date:</span> <%=
                        moment(order.expected_delivery_date).format('llll') %>
                      </small>
                    </p>
                    <% if(product.status != 'Canceled'){ %>
                    <button
                      class="btn btn-sm text-danger"
                      onclick="user_cancel_order('<%= product._id %>','<%= order._id %>')"
                    >
                      Cancel Order
                    </button>
                    <% } %>
                  </div>
                  <small></small>
                  <% if(product.status === 'Order Confirmed' ){ %>
                  <div class="progress">
                    <div
                      class="progress-bar bg-dark progress-bar-striped progress-bar-animated"
                      role="progressbar"
                      aria-label="Basic example"
                      style="width: 25%"
                      aria-valuenow="25"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      <b>Order Confirmed</b>
                    </div>
                  </div>
                  <% } else if(product.status === 'Shipped' ){ %>
                  <div class="progress">
                    <div
                      class="progress-bar bg-primary progress-bar-striped progress-bar-animated"
                      role="progressbar"
                      aria-label="Basic example"
                      style="width: 50%"
                      aria-valuenow="50"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      <b>Shipped</b>
                    </div>
                  </div>
                  <% } else if(product.status === 'Out For Delivery' ){ %>
                  <div class="progress">
                    <div
                      class="progress-bar bg-info progress-bar-striped progress-bar-animated"
                      role="progressbar"
                      aria-label="Basic example"
                      style="width: 75%"
                      aria-valuenow="75"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      <b>Out For Delivery</b>
                    </div>
                  </div>
                  <% } else if(product.status === 'Delivered' ){ %>
                  <div class="progress">
                    <div
                      class="progress-bar bg-success"
                      role="progressbar"
                      aria-label="Basic example"
                      style="width: 100%"
                      aria-valuenow="100"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      <b>Delivered</b>
                    </div>
                  </div>
                  <% } else { %>
                  <div class="progress">
                    <div
                      class="progress-bar bg-danger"
                      role="progressbar"
                      aria-label="Basic example"
                      style="width: 100%"
                      aria-valuenow="100"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      <b>Canceled</b>
                    </div>
                  </div>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
          <% }})} %>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('../partials/footer_infos.ejs') %> <%-
include('../partials/footer.ejs') %>
