<%- include('../partials/header.ejs') %> <%- include('../partials/navbar.ejs')
%>
<div class="container-fluid">
  <div class="row" id="productCard">
    <div class="col-3 pt-2">
      <div
        class="d-flex flex-column flex-shrink-0 p-3 bg-light rounded"
        style="width: 280px"
      >
        <span class="fs-4 text-center">Your WishLists Info</span>

        <hr />
        <ul class="nav nav-pills flex-column mb-auto">
          <li>
            <p>There are <b><%= items.length %></b> items in your wishlist</p>
          </li>
          <li>
            <p>
              You need <b>Rs.<%= wishlist_total_amount %></b> to buy all your wishlist
              items.
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-9 pt-2">
      <% if(items.length === 0){ %>
      <div class="text-center">
        <img src="/public/images/icons/search-not-found.webp" alt="webp" />
        <h4>No items in wishlist</h4>
      </div>
      <% } %> <% if( login ) { %> <% items.forEach(function(item){ %>
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-2">
            <img
              src="<%= item.imgUrl[1] %>"
              class="img-fluid rounded-start img-thumbnail"
              alt="product_img"
              style="width: 12rem; height: 9rem"
            />
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h5 class="card-title"><%= item.name %></h5>
              <p class="card-text"><%= item.description %></p>
              <p class="card-text">
                <big class="text-muted">Rs. <%= item.price %></big>
                <small class="ms-5 card-text text-muted">
                  current stock <%= item.stock %>
                </small>
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card-body">
              <% let inCart = cartItems.some(product =>
              product?.productId.toString() === item?._id.toString() ) %> <%
              if(inCart) { %>
              <a href="/cart"
                ><button class="btn w-100 btn-secondary">Go to cart</button></a
              >
              <% } else { %>
              <button
                class="btn w-100 btn-warning"
                onclick="addToCart('<%= item?._id %>')"
              >
                Add to cart
              </button>
              <% } %>
              <button
                class="mt-4 w-100 btn btn-danger"
                onclick="removeFromWishlist('<%= item?._id %>')"
              >
                Remove item
              </button>
            </div>
          </div>
        </div>
      </div>
      <% })} %>
    </div>
  </div>
</div>

<%- include('../partials/footer_infos.ejs') %> <%-
include('../partials/footer.ejs') %>
